.cir{
    height: 20px;
  width: 20px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
    /* background-attachment: blue; */
}
.main
{
    width: 90%;
    height: 90%;
    background-color: #272A37;
    position: fixed;
    
}
.cont{
    box-sizing: border-box;
    width: 70%;
    height: 70%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left:15% ;
    margin-top:6% ;


}
ul{
    list-style-type: none;
    /* display: flex; */
    word-spacing: 20%;
    justify-content: space-around;

}

li{
    display: inline;
    margin: 5%;
}
#tit{
    font-size: 150%;
    color: white;
    font-weight: bold;
}
.bod{
    margin-left: 10%;
    margin-top: 7%;
    /* background-color: aqua; */
    width: 60%;
    height: 65%;
}
.div1{
    text-transform: uppercase;
    font-size: 70%;
}

.div2{
    color: white;
    font-weight: bold;
    font-size: 150%;
}
.div4{
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 10%;
    /* background-color: aqua; */
    /* margin-bottom:10%; */
    
}

.col1{
    /* color: white; */
    margin-right:5% ;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height:100%;
    width: 50%;
    position: relative;
    float: left;
    /* background-color: aqua; */
}
input::placeholder{
    /* color: white; */
}
.div4>.col1>input{
    /* background-color: #bbb; */
    color: white;
    width: 100%;
    height: 100%;
    /* margin-bottom: 10px; */
}
.div4>.col2>input{
    /* background-color: #bbb; */
    width: 100%;
    height: 100%;
}
.col1 i{
    position: absolute;
    /* margin: 0px; */
    right: 8%;
    /* top: 4; */
}
.col2 i{
    position: absolute;
    /* margin: 0px; */
    right: 8%;
}
.col2{
    display: flex;
    align-items: center;
    height:100%;
    width: 50%;
    position: relative;
    /* float: left;  */
}

.div5{
    width: 60%;
    height: 10%;

    margin-top: 2%;


}
.div5>input{
    height:100%;
    width: 100%;

}
.div6{
    width: 60%;
    height: 10%;
    margin-top: 2%;


}
.div6>input{
    height:100%;
    width: 100%;

}
.div7{
    margin-top: 2%;
    height: 10%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;


}
input{
    border-radius: 10px;
}
.col3{
    width: 100%;
    margin-right: 5%;
}

.col4{
    width: 100%;
    /* height: 100%; */
}
button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* margin-right: 10px; */


}